<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>CasparMixer</title>
    <meta name="author" content="Isak Törnros">
    <meta name="description" content="isak.tornros@hotmail.com">
    <meta name="keywords" content="keywords,here">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">

    <!--Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/button.css">

  </head>

  <body>

    <!-- <h1>Message from Layout!</h1> -->

    <%= yield %>
    
    <!-- JQuery & JQuery UI -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js" type="text/javascript"></script>

    <!-- Bootstrap: Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Jeditable -->
    <!-- <script type="text/javascript" src="js/jeditable.js"></script> -->

    <!-- JavaScript YAML parser -->
    <!-- <script type="text/javascript" src="js/yaml.js"></script> -->

    <!-- YAML to -->
    <!-- <script src="http://yamltojson.com/js/yaml.js"></script> -->

    <!-- Page-load js -->
    <script type="text/javascript" src="js/page_load.js"></script>

    <!-- Main js -->
    <script type="text/javascript" src="js/main.js"></script>


  </body>
</html>