/***********************
  BUTTON 1
************************/

.btn_1 {
  background: #9b59b6;
  background-image: -webkit-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -moz-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -ms-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -o-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: linear-gradient(to bottom, #9b59b6, #8e44ad);

  box-shadow: 0px 0px 12px -3px black;

  border:2px solid black;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  width: 130px;
  height: 110px;
  /*padding:40px 40px;*/

  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
  margin-bottom: 3px;
  overflow: hidden;

}
.btn_1:hover {
  background: #824b99;
  background-image: -webkit-linear-gradient(top, #824b99, #73388c);
  background-image: -moz-linear-gradient(top, #824b99, #73388c);
  background-image: -ms-linear-gradient(top, #824b99, #73388c);
  background-image: -o-linear-gradient(top, #824b99, #73388c);
  background-image: linear-gradient(to bottom, #824b99, #73388c);
  text-decoration: none;
}
.btn_1:active {
  background-color:black;
  /*position:relative;*/
  top:1px;
}

/***********************
  BUTTON 2
************************/

.btn_2 {

  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);

  box-shadow: 0px 0px 12px -3px black;

  border:2px solid black;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:40px 40px;

  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
  margin-bottom: 5px;
  overflow: hidden;

}
.btn_2:hover {
    background: #207bb3;
  background-image: -webkit-linear-gradient(top, #207bb3, #134566);
  background-image: -moz-linear-gradient(top, #207bb3, #134566);
  background-image: -ms-linear-gradient(top, #207bb3, #134566);
  background-image: -o-linear-gradient(top, #207bb3, #134566);
  background-image: linear-gradient(to bottom, #207bb3, #134566);
  text-decoration: none;
}

.btn_2:active {
  background-color:black;
  position:relative;
  top:1px;
}

/***********************
  BUTTON 3
************************/

.btn_3 {
  background: #e67e22;
  background-image: -webkit-linear-gradient(top, #e67e22, #d35400);
  background-image: -moz-linear-gradient(top, #e67e22, #d35400);
  background-image: -ms-linear-gradient(top, #e67e22, #d35400);
  background-image: -o-linear-gradient(top, #e67e22, #d35400);
  background-image: linear-gradient(to bottom, #e67e22, #d35400);

  box-shadow: 0px 0px 12px -3px black;

  border:2px solid black;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:40px 40px;

  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
  margin-bottom: 3px;
  overflow: hidden;
}
.btn_3:hover {
  background: #963a00;
  background-image: -webkit-linear-gradient(top, #e67e22, #963a00);
  background-image: -moz-linear-gradient(top, #e67e22, #963a00);
  background-image: -ms-linear-gradient(top, #e67e22, #963a00);
  background-image: -o-linear-gradient(top, #e67e22, #963a00);
  background-image: linear-gradient(to bottom, #e67e22, #963a00);
  text-decoration: none;
}
.btn_3:active {
  background-color:black;
  position:relative;
  top:1px;
}

        

/***********************
  BUTTON 4
************************/

.btn_4 {
  -moz-box-shadow: 0px 0px 12px -3px #8dab79;
  -webkit-box-shadow: 0px 0px 12px -3px #8dab79;
  box-shadow: 0px 0px 12px -3px black;
  background-color: #e74c3c;
  border:2px solid black;
  display:inline-block;
  cursor:pointer;
  color:white;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:40px 40px;
  text-decoration:none;
  /*text-shadow:0px 1px 0px #030500;*/
  margin-bottom: 3px;
}
.btn_4:hover {
  background-color:#c0392b;
}
.btn_4:active {
  background-color:black;
  position:relative;
  top:1px;
}

/***********************
  MIXER trans
************************/

.trans {
  background: #9b59b6;
  background-image: -webkit-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -moz-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -ms-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -o-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: linear-gradient(to bottom, #9b59b6, #8e44ad);

  box-shadow: 0px 0px 12px -3px black;

  border:2px solid black;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  width: 130px;
  height: 110px;
  /*padding:40px 40px;*/

  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
  margin-bottom: 3px;
  overflow: hidden;

}
.trans:hover {
  background: #824b99;
  background-image: -webkit-linear-gradient(top, #824b99, #73388c);
  background-image: -moz-linear-gradient(top, #824b99, #73388c);
  background-image: -ms-linear-gradient(top, #824b99, #73388c);
  background-image: -o-linear-gradient(top, #824b99, #73388c);
  background-image: linear-gradient(to bottom, #824b99, #73388c);
  text-decoration: none;
}
.trans:active {
  background-color:black;
  /*position:relative;*/
  top:1px;
}

/***********************
  MIXER trans-fx
************************/

.trans-fx {
  -moz-box-shadow: 0px 0px 12px -3px #276873;
  -webkit-box-shadow: 0px 0px 12px -3px #276873;
  box-shadow: 0px 0px 12px -3px black;
  background-color:#599bb3;
  border:2px solid black;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  font-weight:bold;
  /*padding:20px 20px 20px 20px;*/
  width: 110px;
  height: 90px;
  text-decoration:none;
  /*text-shadow:0px 1px 0px #3d768a;*/
  margin-bottom: 3px;

}
.trans-fx:hover {
  background: blue;
  /*background-image: -webkit-linear-gradient(top, blue, #73388c);
  background-image: -moz-linear-gradient(top, blue, #73388c);
  background-image: -ms-linear-gradient(top, blue, #73388c);
  background-image: -o-linear-gradient(top, blue, #73388c);
  background-image: linear-gradient(to bottom, blue, #73388c);
  text-decoration: none;*/
}
.trans-fx:active {
  background-color:black;
  /*position:relative;*/
  top:1px;
}

/***********************
  MIXER chroma-media
************************/

.chroma-media {
  background: #9b59b6;
  background-image: -webkit-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -moz-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -ms-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -o-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: linear-gradient(to bottom, #9b59b6, #8e44ad);

  box-shadow: 0px 0px 12px -3px black;

  border:2px solid black;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  width: 130px;
  height: 110px;
  /*padding:40px 40px;*/

  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
  margin-bottom: 3px;
  overflow: hidden;

}
.chroma-media:hover {
  background: #824b99;
  background-image: -webkit-linear-gradient(top, #824b99, #73388c);
  background-image: -moz-linear-gradient(top, #824b99, #73388c);
  background-image: -ms-linear-gradient(top, #824b99, #73388c);
  background-image: -o-linear-gradient(top, #824b99, #73388c);
  background-image: linear-gradient(to bottom, #824b99, #73388c);
  text-decoration: none;
}
.chroma-media:active {
  background-color:black;
  /*position:relative;*/
  top:1px;
}

/***********************
  MIXER chroma
************************/

.chroma {
  background: #9b59b6;
  background-image: -webkit-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -moz-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -ms-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -o-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: linear-gradient(to bottom, #9b59b6, #8e44ad);

  box-shadow: 0px 0px 12px -3px black;

  border:2px solid black;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  width: 130px;
  height: 110px;
  /*padding:40px 40px;*/

  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
  margin-bottom: 3px;
  overflow: hidden;

}
.chroma:hover {
  background: #824b99;
  background-image: -webkit-linear-gradient(top, #824b99, #73388c);
  background-image: -moz-linear-gradient(top, #824b99, #73388c);
  background-image: -ms-linear-gradient(top, #824b99, #73388c);
  background-image: -o-linear-gradient(top, #824b99, #73388c);
  background-image: linear-gradient(to bottom, #824b99, #73388c);
  text-decoration: none;
}
.chroma:active {
  background-color:black;
  /*position:relative;*/
  top:1px;
}

/***********************
  MIXER image-adjustments
************************/

.image-adjustments {
  background: #9b59b6;
  background-image: -webkit-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -moz-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -ms-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -o-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: linear-gradient(to bottom, #9b59b6, #8e44ad);

  box-shadow: 0px 0px 12px -3px black;

  border:2px solid black;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  width: 130px;
  height: 110px;
  /*padding:40px 40px;*/

  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
  margin-bottom: 3px;
  overflow: hidden;

}
.image-adjustments:hover {
  background: #824b99;
  background-image: -webkit-linear-gradient(top, #824b99, #73388c);
  background-image: -moz-linear-gradient(top, #824b99, #73388c);
  background-image: -ms-linear-gradient(top, #824b99, #73388c);
  background-image: -o-linear-gradient(top, #824b99, #73388c);
  background-image: linear-gradient(to bottom, #824b99, #73388c);
  text-decoration: none;
}
.image-adjustments:active {
  background-color:black;
  /*position:relative;*/
  top:1px;
}

/***********************
  MIXER program-btn
************************/

.program-btn {
  background: #9b59b6;
  background-image: -webkit-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -moz-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -ms-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -o-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: linear-gradient(to bottom, #9b59b6, #8e44ad);

  box-shadow: 0px 0px 12px -3px black;

  border:2px solid black;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  width: 130px;
  height: 110px;
  /*padding:40px 40px;*/

  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
  margin-bottom: 3px;
  overflow: hidden;

}
.program-btn:hover {
  background: #824b99;
  background-image: -webkit-linear-gradient(top, #824b99, #73388c);
  background-image: -moz-linear-gradient(top, #824b99, #73388c);
  background-image: -ms-linear-gradient(top, #824b99, #73388c);
  background-image: -o-linear-gradient(top, #824b99, #73388c);
  background-image: linear-gradient(to bottom, #824b99, #73388c);
  text-decoration: none;
}
.program-btn:active {
  background-color:black;
  /*position:relative;*/
  top:1px;
}

/***********************
  MIXER preset-btn
************************/

.preset-btn {
  background: #9b59b6;
  background-image: -webkit-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -moz-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -ms-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: -o-linear-gradient(top, #9b59b6, #8e44ad);
  background-image: linear-gradient(to bottom, #9b59b6, #8e44ad);

  box-shadow: 0px 0px 12px -3px black;

  border:2px solid black;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  width: 130px;
  height: 110px;
  /*padding:40px 40px;*/

  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
  margin-bottom: 3px;
  overflow: hidden;

}
.preset-btn:hover {
  background: #824b99;
  background-image: -webkit-linear-gradient(top, #824b99, #73388c);
  background-image: -moz-linear-gradient(top, #824b99, #73388c);
  background-image: -ms-linear-gradient(top, #824b99, #73388c);
  background-image: -o-linear-gradient(top, #824b99, #73388c);
  background-image: linear-gradient(to bottom, #824b99, #73388c);
  text-decoration: none;
}
.preset-btn:active {
  background-color:black;
  /*position:relative;*/
  top:1px;
}


/***********************
  CASPAR 
************************/
.caspar_button {
  -moz-box-shadow: 0px 0px 12px -3px #276873;
  -webkit-box-shadow: 0px 0px 12px -3px #276873;
  box-shadow: 0px 0px 12px -3px black;
  background-color:#599bb3;
  border:2px solid black;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  font-weight:bold;
  /*padding:20px 20px 20px 20px;*/
  width: 110px;
  height: 90px;
  text-decoration:none;
  /*text-shadow:0px 1px 0px #3d768a;*/
  margin-bottom: 3px;
}


/***********************
  BUTTON GROUPS
************************/

.btn-group {
  padding-bottom: 10px;
}

.green {
  background-color: green;
}

.green:hover {
  background-color: #1d9e11;
}

.red {
  background-color: red;
}

.red:hover {
  background-color: red;
}

.autoplaychar:after {
    content: " enabled \0398"
}

.autoplay-enabled {
  content: "";
}

.selected-button{
    border:4px solid black;
}

