<!-- <h1> Message from view!<h1> -->
<h1> <%= casparIP %> </h1>
<div class="container-fluid">
	<!-- <h1> <%= casparIP %> </h1>
	<div class="col-md-2">
	  	<form method="post">
		  <div class="form-group">
		    <label for="InputCasparIP">Caspar IP</label>
		    <input type="text" name="inputlol" class="form-control" id="InputCasparIP" placeholder="Caspar IP">
		  	<button type="submit" class="btn btn-default">Update</button>
		  </div>
	  	</form>
	</div>-->

	<div class="btn-group col-lg-12">
		<button type="button" class="btn_1">EDIT</button>
		<button type="button" class="btn_1">EDIT</button>
		<button type="button" class="btn_1">EDIT</button>
		<button type="button" class="btn_1">EDIT</button>
		<button type="button" class="btn_1">EDIT</button>
		<button type="button" class="btn_1">EDIT</button>
		<button type="button" class="btn_1">EDIT</button>
		<button type="button" class="btn_1">EDIT</button>
	</div>

	<div class="btn-group col-lg-12">
		<button type="button" class="btn_2">EDIT</button>
		<button type="button" class="btn_2">EDIT</button>
		<button type="button" class="btn_2">EDIT</button>
		<button type="button" class="btn_2">EDIT</button>
		<button type="button" class="btn_2">EDIT</button>
		<button type="button" class="btn_2">EDIT</button>
		<button type="button" class="btn_2">EDIT</button>
		<button type="button" class="btn_2">EDIT</button>
	</div>

	<div class="btn-group col-lg-12">
		<button type="button" class="btn_3">EDIT</button>
		<button type="button" class="btn_3">EDIT</button>
		<button type="button" class="btn_3">EDIT</button>
		<button type="button" class="btn_3">EDIT</button>
		<button type="button" class="btn_3">EDIT</button>
		<button type="button" class="btn_3">EDIT</button>
		<button type="button" class="btn_3">EDIT</button>
		<button type="button" class="btn_3">EDIT</button>
	</div>

	<div class="btn-group col-lg-12">
		<button type="button" class="btn_4">EDIT</button>
		<button type="button" class="btn_4">EDIT</button>
		<button type="button" class="btn_4">EDIT</button>
		<button type="button" class="btn_4">EDIT</button>
		<button type="button" class="btn_4">EDIT</button>
		<button type="button" class="btn_4">EDIT</button>
		<button type="button" class="btn_4">EDIT</button>
		<button type="button" class="btn_4">EDIT</button>
	</div>

</div>
