<!-- <h1> Message from view!<h1> -->
<div class="container-fluid">

	<div class="form-group">
		<label id="casparip_label" for="InputCasparIP"></p></label>
	    <input type="text" class="form-control" id="InputCasparIP" placeholder="Caspar IP">
		<button class="btn btn-info casparip_update">Update</button>
		<button class="btn btn-danger clear_all_button_data pull-right">!Clear all button data!</button>
	</div>

	<div class="container col-lg-6">
		<div class="btn-group col-lg-6">
			<p>Group 1</p>
			<button type="button" class="btn_1" id="btn1_0">EDIT</button>
			<button type="button" class="btn_1" id="btn1_1">EDIT</button>
			<button type="button" class="btn_1" id="btn1_2">EDIT</button>
			<button type="button" class="btn_1" id="btn1_3">EDIT</button>
			<button type="button" class="btn_1" id="btn1_4">EDIT</button>
			<button type="button" class="btn_1" id="btn1_5">EDIT</button>
			<button type="button" class="btn_1" id="btn1_6">EDIT</button>
			<button type="button" class="btn_1" id="btn1_7">EDIT</button>
		</div>

		<div class="btn-group col-lg-6">
			<p>Group 2</p>
			<button type="button" class="btn_2" id="btn2_0">EDIT</button>
			<button type="button" class="btn_2" id="btn2_1">EDIT</button>
			<button type="button" class="btn_2" id="btn2_2">EDIT</button>
			<button type="button" class="btn_2" id="btn2_3">EDIT</button>
			<button type="button" class="btn_2" id="btn2_4">EDIT</button>
			<button type="button" class="btn_2" id="btn2_5">EDIT</button>
			<button type="button" class="btn_2" id="btn2_6">EDIT</button>
			<button type="button" class="btn_2" id="btn2_7">EDIT</button>
		</div>

		<div class="btn-group col-lg-6">
			<p>Group 3</p>
			<button type="button" class="btn_3" id="btn3_0">EDIT</button>
			<button type="button" class="btn_3" id="btn3_1">EDIT</button>
			<button type="button" class="btn_3" id="btn3_2">EDIT</button>
			<button type="button" class="btn_3" id="btn3_3">EDIT</button>
			<button type="button" class="btn_3" id="btn3_4">EDIT</button>
			<button type="button" class="btn_3" id="btn3_5">EDIT</button>
			<button type="button" class="btn_3" id="btn3_6">EDIT</button>
			<button type="button" class="btn_3" id="btn3_7">EDIT</button>
		</div>

		<div class="btn-group col-lg-6">
			<p>Group 4</p>
			<button type="button" class="btn_4" id="btn4_0">EDIT</button>
			<button type="button" class="btn_4" id="btn4_1">EDIT</button>
			<button type="button" class="btn_4" id="btn4_2">EDIT</button>
			<button type="button" class="btn_4" id="btn4_3">EDIT</button>
			<button type="button" class="btn_4" id="btn4_4">EDIT</button>
			<button type="button" class="btn_4" id="btn4_5">EDIT</button>
			<button type="button" class="btn_4" id="btn4_6">EDIT</button>
			<button type="button" class="btn_4" id="btn4_7">EDIT</button>
		</div>
	</div>

	<div class="container col-lg-6">

		<form method="post" class="form-inline" role="form">
		  <div class="form-group">
		    <label for="button_name">Button name:</label>
		    <input type="text" class="form-control" id="button_name">
		  </div>
		  <div class="form-group">
		    <label for="template">Template:</label>
		    <input type="text" class="form-control" id="template">
		  </div>
		  <div class="form-group">
		    <label for="button_id">Button ID:</label>
		    <input type="text" class="form-control" id="button_id">
		  </div>
		</form>

	</div>

	<div class="container col-lg-6">
		<form method="post" class="" role="form">
			<h3> Field data </h3>
			<div class="form-group">
				    <label for="field_f0">f0: </label>
				    <input type="text" class="form-control" id="f0" value="">
			</div>		
			<div class="form-group">
				    <label for="field_f1">f1: </label>
				    <input type="text" class="form-control" id="f1">
			</div>	
			<div class="form-group">
				    <label for="field_f2">f2: </label>
				    <input type="text" class="form-control" id="f2">
			</div>	
			<div class="form-group">
				    <label for="field_f3">f3: </label>
				    <input type="text" class="form-control" id="f3">
			</div>	
			<div class="form-group">
				    <label for="field_f4">f4: </label>
				    <input type="text" class="form-control" id="f4">
			</div>	
			<div class="form-group">
				    <label for="field_f5">f5: </label>
				    <input type="text" class="form-control" id="f5">
			</div>	
			<div class="form-group">
				    <label for="field_f6">f6: </label>
				    <input type="text" class="form-control" id="f6">
			</div>	
				
		</form>
		<button id="Ajax_button" class="btn btn-info btn-lg">SAVE</button>
		<button id="clear_data" class="btn btn-danger btn-lg pull-right">Clear data</button>
		<button id="status_button" class="btn btn-danger btn-lg pull-right">Status</button>
	</div>

	
</div>
