<!-- <h1> Message from view!<h1> -->
<h1> <%= casparIP %> </h1>
<div class="container-fluid">
	<!-- <h1> <%= casparIP %> </h1>
	<div class="col-md-2">
	  	<form method="post">
		  <div class="form-group">
		    <label for="InputCasparIP">Caspar IP</label>
		    <input type="text" name="inputlol" class="form-control" id="InputCasparIP" placeholder="Caspar IP">
		  	<button type="submit" class="btn btn-default">Update</button>
		  </div>
	  	</form>
	</div>-->

	<div class="btn-group col-lg-12">
		<button type="button" class="btn btn-primary btn-lg raised">1</button>
		<button type="button" class="btn btn-primary btn-lg raised">2</button>
		<button type="button" class="btn btn-primary btn-lg raised">3</button>
		<button type="button" class="btn btn-primary btn-lg raised">4</button>
		<button type="button" class="btn btn-primary btn-lg raised">5</button>
		<button type="button" class="btn btn-primary btn-lg raised">6</button>
		<button type="button" class="btn btn-info btn-lg raised">7</button>
		<button type="button" class="btn btn-info btn-lg raised">8</button>
	</div>

	<div class="btn-group col-lg-12">
		<button type="button" class="btn btn-primary btn-lg raised">1</button>
		<button type="button" class="btn btn-primary btn-lg raised">2</button>
		<button type="button" class="btn btn-primary btn-lg raised">3</button>
		<button type="button" class="btn btn-primary btn-lg raised">4</button>
		<button type="button" class="btn btn-primary btn-lg raised">5</button>
		<button type="button" class="btn btn-primary btn-lg raised">6</button>
		<button type="button" class="btn btn-primary btn-lg raised">7</button>
		<button type="button" class="btn btn-primary btn-lg raised">8</button>
	</div>

	<div class="btn-group col-lg-12">
		<button type="button" class="btn btn-primary btn-lg raised">1</button>
		<button type="button" class="btn btn-primary btn-lg raised">2</button>
		<button type="button" class="btn btn-primary btn-lg raised">3</button>
		<button type="button" class="btn btn-primary btn-lg raised">4</button>
		<button type="button" class="btn btn-primary btn-lg raised">5</button>
		<button type="button" class="btn btn-primary btn-lg raised">6</button>
		<button type="button" class="btn btn-primary btn-lg raised">7</button>
		<button type="button" class="btn btn-primary btn-lg raised">8</button>
	</div>

	<div class="btn-group col-lg-12">
		<button type="button" class="btn btn-primary btn-lg raised">1</button>
		<button type="button" class="btn btn-primary btn-lg raised">2</button>
		<button type="button" class="btn btn-primary btn-lg raised">3</button>
		<button type="button" class="btn btn-primary btn-lg raised">4</button>
		<button type="button" class="btn btn-primary btn-lg raised">5</button>
		<button type="button" class="btn btn-primary btn-lg raised">6</button>
		<button type="button" class="btn btn-primary btn-lg raised">7</button>
		<button type="button" class="btn btn-primary btn-lg raised">8</button>
	</div>

</div>
