<div class="container-fluid">

<button class="btn btn-danger pull-right" id="clear_all_button_data">!Clear all button data!</button>
	<!-- Upper half -->

	<!-- Image adjustment -->
	<div class="container col-sm-6 panel panel-default">
		<div class="row">
			<div class="col-sm-10">
			<button class=""><a href="/graphic">GRAPHIC</a></button>
				<h2>Image adjustments</h2>		
				<div class="col-sm-12 col-sm-offset-2">
					<button type="button" class="image-adjustments" id="Brightness">Brightness</button>
					<button type="button" class="image-adjustments" id="Opacity">Opacity</button>
					<button type="button" class="image-adjustments" id="Contrast">Contrast</button>
					<button type="button" class="image-adjustments" id="Saturation">Saturation</button>
				</div>
				<!-- <div class="col-sm-12 col-sm-offset-2">
					<button type="button" class="image-adjustments" id="">1</button>
					<button type="button" class="image-adjustments" id="">2</button>
					<button type="button" class="image-adjustments" id="">3</button>
					<button type="button" class="image-adjustments" id="">4</button>
				</div> -->
				<div class="col-sm-12 col-sm-offset-2">
					<button type="button" class="btn_2" id="Mixer-clear">MIXER CLEAR</button>				
				</div>
			</div>

			<!-- Slider image-adjustment -->
			<div class="col-sm-2">
					<p>
					  <label for="amount">Amount:</label>
					  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
					</p> 
					<div id="slider-vertical" style="height:300px;"></div>
			</div>

		</div>
	</div>

	<!-- Chroma -->
	<div class="container col-sm-4 panel panel-default">
		<div class="col-sm-6">
			<h2>Chroma Key</h2>
			<br/>
			<button type="button" class="chroma green" value="green">Green</button>	
			<button type="button" class="chroma blue" value="blue">Blue</button>	
			<button type="button" class="chroma none" value="none">None</button>				
		</div>
		<!-- Slider image-adjustment -->
		<div class="col-sm-2">
				<p>
				  <label for="amount3">Threshold:</label>
				  <input type="text" id="amount3" readonly style="border:0; color:#f6931f; font-weight:bold;">
				</p> 
				<div id="slider-vertical3" style="height:300px;"></div>
		</div>
		<!-- Slider image-adjustment -->
		<div class="col-sm-2">
				<p>
				  <label for="amount4">Softness:</label>
				  <input type="text" id="amount4" readonly style="border:0; color:#f6931f; font-weight:bold;">
				</p> 
				<div id="slider-vertical4" style="height:300px;"></div>
		</div>
		<!-- Slider image-adjustment -->
		<div class="col-sm-2">
				<p>
				  <label for="amount5">Spill:</label>
				  <input type="text" id="amount5" readonly style="border:0; color:#f6931f; font-weight:bold;">
				</p> 
				<div id="slider-vertical5" style="height:300px;"></div>
		</div>
		<!-- <div class="col-sm-12">
			<h2>Media</h2>
			<br/>
			<button type="button" class="chroma-media" id="1">1</button>	
			<button type="button" class="chroma-media" id="2">2</button>
			<button type="button" class="chroma-media" id="3">3</button>			
		</div> -->

	</div>

	<!-- Bottom half -->

	<!-- Mixer buttons -->
	<div class="container col-sm-7 panel panel-default">
		<div class="row">
			<div class="btn-group col-sm-12">
				<h2>P/P</h2>
				<button type="button" class="program-btn" id="btn1_0">1</button>
				<button type="button" class="program-btn" id="btn1_1">2</button>
				<button type="button" class="program-btn" id="btn1_2">3</button>
				<button type="button" class="program-btn" id="btn1_3">4</button>
				<button type="button" class="program-btn" id="btn1_4">5</button>
				<button type="button" class="program-btn" id="btn1_5">6</button>
				<button type="button" class="program-btn" id="btn1_6">Screen</button>
			</div>
			<h4 class="text-center">Program</h4>

			<div class="btn-group col-sm-12">
				<button type="button" class="preset-btn" id="btn1_0">1</button>
				<button type="button" class="preset-btn" id="btn1_1">2</button>
				<button type="button" class="preset-btn" id="btn1_2">3</button>
				<button type="button" class="preset-btn" id="btn1_3">4</button>
				<button type="button" class="preset-btn" id="btn1_4">5</button>
				<button type="button" class="preset-btn" id="btn1_5">6</button>
				<button type="button" class="preset-btn" id="btn1_6">Screen</button>
			</div>
			<h4 class="text-center">Preset</h4>
		</div>
	</div>

	<div class="container col-sm-5 panel panel-default">
		<div class="row">

			<!-- Slider transition -->
			<div class="col-sm-4 col-sm-offset-2">
				<p>
				 <label for="amount2">Duration (frames):</label>
				 <input type="text" id="amount2" readonly style="border:0; color:#f6931f; font-weight:bold;">
				</p>			 
				<div id="slider-vertical2" style="height:300px;"></div>
			</div>

			<div class="col-sm-5">
				<h4>Transition Effects</h4>
				<button type="button" class="trans-fx" id="Mix_btn" value="mix">Mix</button>
				<button type="button" class="trans-fx" id="Wipe_btn" value="wipe">Wipe</button>
				<button type="button" class="trans-fx" id="Push_btn" value="push">Push</button>
				<button type="button" class="trans-fx" id="Slide_btn" value="slide">Slide</button>

				<h4>Transition</h4>
				<button type="button" class="trans" id="Auto_trans_btn">AUTO</button>
				<button type="button" class="trans" id="Take_trans_btn">TAKE</button>
			</div>
		</div>
	</div>
	<div class="container col-sm-6 panel panel-default">

		<form method="post" class="" role="form">
			<h3> Program data: <span id="status_button">status</span></h3> 

			<label class="radio-inline"><input type="radio" name="optradio">DECKLINK</label>
			<label class="radio-inline"><input type="radio" name="optradio">BLUEFISH</label>
			<label class="radio-inline"><input type="radio" name="optradio">STREAM</label>

			<div class="form-group">
				    <label for="button_name1">Button name: </label>
				    <input type="text" class="form-control" id="button_name1" >
			</div>		
			<div class="form-group">
				    <label for="command1">Caspar command: </label>
				    <input type="text" class="form-control" id="command1" value="PLAY">
			</div>	
			<div class="form-group">
				    <label for="file_resource1">File/resource: </label>
				    <input type="text" class="form-control" id="file_resource1">
			</div>	
			<div class="form-group">
			     	 <label for="button_id1"><!-- Button ID: --></label>
			   		 <input type="hidden" class="form-control" id="button_id1">
		  	</div>
		</form>
		<button id="update_button" class="btn btn-info btn-lg">SAVE</button>
		<button id="clear_data1" class="btn btn-danger btn-lg pull-right">Clear data</button>
	</div>
	<div class="container col-sm-6 panel panel-default">

		<form method="post" class="" role="form">
			<h3> Preset data: <span id="status_button">status</span></h3> 

			<label class="radio-inline"><input type="radio" name="optradio">DECKLINK</label>
			<label class="radio-inline"><input type="radio" name="optradio">BLUEFISH</label>
			<label class="radio-inline"><input type="radio" name="optradio">STREAM</label>

			<div class="form-group">
				    <label for="button_name2">Button name: </label>
				    <input type="text" class="form-control" id="button_name2" >
			</div>		
			<div class="form-group">
				    <label for="command2">Caspar command: </label>
				    <input type="text" class="form-control" id="command2" value="PLAY">
			</div>	
			<div class="form-group">
				    <label for="file_resource2">File/resource: </label>
				    <input type="text" class="form-control" id="file_resource2">
			</div>	
			<div class="form-group">
			     	 <label for="button_id2"><!-- Button ID: --></label>
			   		 <input type="hidden" class="form-control" id="button_id2">
		  	</div>
		</form>
		<button id="update_button2" class="btn btn-info btn-lg">SAVE</button>
		<button id="clear_data2" class="btn btn-danger btn-lg pull-right">Clear data</button>
	</div>
</div>